@media (min-width: 768px) {
  .margin-left-sm-0 {
    margin-left: 0px;
  }

  .margin-left-sm-xxs {
    margin-left: 8px;
  }

  .margin-left-sm-xs {
    margin-left: 12px;
  }

  .margin-left-sm-s {
    margin-left: 16px;
  }

  .margin-left-sm-m {
    margin-left: 20px;
  }

  .margin-left-sm-l {
    margin-left: 24px;
  }

  .margin-left-sm-xl {
    margin-left: 32px;
  }

  .margin-left-sm-xxl {
    margin-left: 40px;
  }

  .margin-left-sm-3xl {
    margin-left: 48px;
  }

  .margin-left-sm-4xl {
    margin-left: 64px;
  }

  .margin-left-sm-5xl {
    margin-left: 72px;
  }

  .margin-left-sm-6xl {
    margin-left: 96px;
  }
}

@media (min-width: 1200px) {
  .margin-left-md-0 {
    margin-left: 0px;
  }

  .margin-left-md-xxs {
    margin-left: 8px;
  }

  .margin-left-md-xs {
    margin-left: 12px;
  }

  .margin-left-md-s {
    margin-left: 16px;
  }

  .margin-left-md-m {
    margin-left: 20px;
  }

  .margin-left-md-l {
    margin-left: 24px;
  }

  .margin-left-md-xl {
    margin-left: 32px;
  }

  .margin-left-md-xxl {
    margin-left: 40px;
  }

  .margin-left-md-3xl {
    margin-left: 48px;
  }

  .margin-left-md-4xl {
    margin-left: 64px;
  }

  .margin-left-md-5xl {
    margin-left: 72px;
  }

  .margin-left-md-6xl {
    margin-left: 96px;
  }
}

@media (min-width: 768px) {
  .margin-right-sm-0 {
    margin-right: 0px;
  }

  .margin-right-sm-xxs {
    margin-right: 8px;
  }

  .margin-right-sm-xs {
    margin-right: 12px;
  }

  .margin-right-sm-s {
    margin-right: 16px;
  }

  .margin-right-sm-m {
    margin-right: 20px;
  }

  .margin-right-sm-l {
    margin-right: 24px;
  }

  .margin-right-sm-xl {
    margin-right: 32px;
  }

  .margin-right-sm-xxl {
    margin-right: 40px;
  }

  .margin-right-sm-3xl {
    margin-right: 48px;
  }

  .margin-right-sm-4xl {
    margin-right: 64px;
  }

  .margin-right-sm-5xl {
    margin-right: 72px;
  }

  .margin-right-sm-6xl {
    margin-right: 96px;
  }
}

@media (min-width: 1200px) {
  .margin-right-md-0 {
    margin-right: 0px;
  }

  .margin-right-md-xxs {
    margin-right: 8px;
  }

  .margin-right-md-xs {
    margin-right: 12px;
  }

  .margin-right-md-s {
    margin-right: 16px;
  }

  .margin-right-md-m {
    margin-right: 20px;
  }

  .margin-right-md-l {
    margin-right: 24px;
  }

  .margin-right-md-xl {
    margin-right: 32px;
  }

  .margin-right-md-xxl {
    margin-right: 40px;
  }

  .margin-right-md-3xl {
    margin-right: 48px;
  }

  .margin-right-md-4xl {
    margin-right: 64px;
  }

  .margin-right-md-5xl {
    margin-right: 72px;
  }

  .margin-right-md-6xl {
    margin-right: 96px;
  }
}

@media (min-width: 768px) {
  .padding-bottom-sm-0 {
    padding-bottom: 0px;
  }

  .padding-bottom-sm-xxs {
    padding-bottom: 8px;
  }

  .padding-bottom-sm-xs {
    padding-bottom: 12px;
  }

  .padding-bottom-sm-s {
    padding-bottom: 16px;
  }

  .padding-bottom-sm-m {
    padding-bottom: 20px;
  }

  .padding-bottom-sm-l {
    padding-bottom: 24px;
  }

  .padding-bottom-sm-xl {
    padding-bottom: 32px;
  }

  .padding-bottom-sm-xxl {
    padding-bottom: 40px;
  }

  .padding-bottom-sm-3xl {
    padding-bottom: 48px;
  }

  .padding-bottom-sm-4xl {
    padding-bottom: 64px;
  }

  .padding-bottom-sm-5xl {
    padding-bottom: 72px;
  }

  .padding-bottom-sm-6xl {
    padding-bottom: 96px;
  }
}

@media (min-width: 1200px) {
  .padding-bottom-md-0 {
    padding-bottom: 0px;
  }

  .padding-bottom-md-xxs {
    padding-bottom: 8px;
  }

  .padding-bottom-md-xs {
    padding-bottom: 12px;
  }

  .padding-bottom-md-s {
    padding-bottom: 16px;
  }

  .padding-bottom-md-m {
    padding-bottom: 20px;
  }

  .padding-bottom-md-l {
    padding-bottom: 24px;
  }

  .padding-bottom-md-xl {
    padding-bottom: 32px;
  }

  .padding-bottom-md-xxl {
    padding-bottom: 40px;
  }

  .padding-bottom-md-3xl {
    padding-bottom: 48px;
  }

  .padding-bottom-md-4xl {
    padding-bottom: 64px;
  }

  .padding-bottom-md-5xl {
    padding-bottom: 72px;
  }

  .padding-bottom-md-6xl {
    padding-bottom: 96px;
  }
}

@media (min-width: 768px) {
  .padding-top-sm-0 {
    padding-top: 0px;
  }

  .padding-top-sm-xxs {
    padding-top: 8px;
  }

  .padding-top-sm-xs {
    padding-top: 12px;
  }

  .padding-top-sm-s {
    padding-top: 16px;
  }

  .padding-top-sm-m {
    padding-top: 20px;
  }

  .padding-top-sm-l {
    padding-top: 24px;
  }

  .padding-top-sm-xl {
    padding-top: 32px;
  }

  .padding-top-sm-xxl {
    padding-top: 40px;
  }

  .padding-top-sm-3xl {
    padding-top: 48px;
  }

  .padding-top-sm-4xl {
    padding-top: 64px;
  }

  .padding-top-sm-5xl {
    padding-top: 72px;
  }

  .padding-top-sm-6xl {
    padding-top: 96px;
  }
}

@media (min-width: 1200px) {
  .padding-top-md-0 {
    padding-top: 0px;
  }

  .padding-top-md-xxs {
    padding-top: 8px;
  }

  .padding-top-md-xs {
    padding-top: 12px;
  }

  .padding-top-md-s {
    padding-top: 16px;
  }

  .padding-top-md-m {
    padding-top: 20px;
  }

  .padding-top-md-l {
    padding-top: 24px;
  }

  .padding-top-md-xl {
    padding-top: 32px;
  }

  .padding-top-md-xxl {
    padding-top: 40px;
  }

  .padding-top-md-3xl {
    padding-top: 48px;
  }

  .padding-top-md-4xl {
    padding-top: 64px;
  }

  .padding-top-md-5xl {
    padding-top: 72px;
  }

  .padding-top-md-6xl {
    padding-top: 96px;
  }
}

@media (min-width: 768px) {
  .padding-left-sm-0 {
    padding-left: 0px;
  }

  .padding-left-sm-xxs {
    padding-left: 8px;
  }

  .padding-left-sm-xs {
    padding-left: 12px;
  }

  .padding-left-sm-s {
    padding-left: 16px;
  }

  .padding-left-sm-m {
    padding-left: 20px;
  }

  .padding-left-sm-l {
    padding-left: 24px;
  }

  .padding-left-sm-xl {
    padding-left: 32px;
  }

  .padding-left-sm-xxl {
    padding-left: 40px;
  }

  .padding-left-sm-3xl {
    padding-left: 48px;
  }

  .padding-left-sm-4xl {
    padding-left: 64px;
  }

  .padding-left-sm-5xl {
    padding-left: 72px;
  }

  .padding-left-sm-6xl {
    padding-left: 96px;
  }
}

@media (min-width: 1200px) {
  .padding-left-md-0 {
    padding-left: 0px;
  }

  .padding-left-md-xxs {
    padding-left: 8px;
  }

  .padding-left-md-xs {
    padding-left: 12px;
  }

  .padding-left-md-s {
    padding-left: 16px;
  }

  .padding-left-md-m {
    padding-left: 20px;
  }

  .padding-left-md-l {
    padding-left: 24px;
  }

  .padding-left-md-xl {
    padding-left: 32px;
  }

  .padding-left-md-xxl {
    padding-left: 40px;
  }

  .padding-left-md-3xl {
    padding-left: 48px;
  }

  .padding-left-md-4xl {
    padding-left: 64px;
  }

  .padding-left-md-5xl {
    padding-left: 72px;
  }

  .padding-left-md-6xl {
    padding-left: 96px;
  }
}

@media (min-width: 768px) {
  .padding-right-sm-0 {
    padding-right: 0px;
  }

  .padding-right-sm-xxs {
    padding-right: 8px;
  }

  .padding-right-sm-xs {
    padding-right: 12px;
  }

  .padding-right-sm-s {
    padding-right: 16px;
  }

  .padding-right-sm-m {
    padding-right: 20px;
  }

  .padding-right-sm-l {
    padding-right: 24px;
  }

  .padding-right-sm-xl {
    padding-right: 32px;
  }

  .padding-right-sm-xxl {
    padding-right: 40px;
  }

  .padding-right-sm-3xl {
    padding-right: 48px;
  }

  .padding-right-sm-4xl {
    padding-right: 64px;
  }

  .padding-right-sm-5xl {
    padding-right: 72px;
  }

  .padding-right-sm-6xl {
    padding-right: 96px;
  }
}

@media (min-width: 1200px) {
  .padding-right-md-0 {
    padding-right: 0px;
  }

  .padding-right-md-xxs {
    padding-right: 8px;
  }

  .padding-right-md-xs {
    padding-right: 12px;
  }

  .padding-right-md-s {
    padding-right: 16px;
  }

  .padding-right-md-m {
    padding-right: 20px;
  }

  .padding-right-md-l {
    padding-right: 24px;
  }

  .padding-right-md-xl {
    padding-right: 32px;
  }

  .padding-right-md-xxl {
    padding-right: 40px;
  }

  .padding-right-md-3xl {
    padding-right: 48px;
  }

  .padding-right-md-4xl {
    padding-right: 64px;
  }

  .padding-right-md-5xl {
    padding-right: 72px;
  }

  .padding-right-md-6xl {
    padding-right: 96px;
  }
}
.inline{
  display: inline-block;
}
.font-xxs {
  font-size: 1.2rem;
  line-height: 2rem;
}

.font-xs {
  font-size: 1.4rem;
}

.flex-row{
  padding: 0px;
}